{% extends 'base.html.twig' %}

{% block titre %}<h1 class="h1-large">Voir les informations de la fiche frais</h1>
    <a class="btn-solid-lg" href="#introduction">Voir la fiche frais</a>{% endblock %}

{% block corps %}
    <style>
        br{
            line-height: 20px;
        }
    </style>
    <div id="introduction" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Fiche Frais</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Id Utilisateur</td>
                                <td>Id</td>
                                <td>Mois</td>
                                <td>Nombre de justificatifs</td>
                                <td>Montant</td>
                                <td>Modification</td>
                                <td>Etat</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ fichefrai.idutilisateur.id }}</td>
                                <td>{{ fichefrai.id }}</td>
                                <td>{{ fichefrai.mois }}</td>
                                <td>{{ fichefrai.nbjustificatifs }}</td>
                                <td>{{ fichefrai.montantvalide }}</td>
                                <td>{{ fichefrai.datemodif }}</td>
                                <td>{{ fichefrai.idetat.libelle }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button style='background-color: #7dc22b; border-color: #7dc22b' class="btn"><a href="{{ path('fichefrais_crud_index') }}">Voir la liste des états</a></button>
                    <button style='background-color: #7dc22b; border-color: #7dc22b' class="btn"><a href="{{ path('fichefrais_crud_edit', {'id': fichefrai.id}) }}">Modifier</a></button><br/><br />{{ include('fichefrais_crud/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
