{% extends 'base.html.twig' %}


{% block corps %}
    <style>
        .titre{
            font-weight: bold;
        }
        td{
            padding: 5em;
        }
    </style>
    {%  if listeUtilisateurs is empty %}
        <h3 style="text-align: center; margin-top: 1em;">Aucune Utilisateurs</h1>
    {% else %}}
        <h1 style="text-align: center; margin-top: 1em;">Nos Utilisateurs qui habite à Cahors</h1>
    <table class="table">
        <thead>
        <tr>
            <td class="titre">Nom</td>
            <td class="titre">Prenom</td>
            <td class="titre">Adresse</td>
            <td class="titre">Code Postal</td>
            <td class="titre">Ville</td>
            <td class="titre">Date d'embauche</td>
        </tr>
        </thead>
        <tbody>
            {% for unUtilisateur in listeUtilisateurs %}
                <tr>
                    <td>{{ unUtilisateur.nom }}</td>
                    <td>{{ unUtilisateur.prenom }}</td>
                    <td>{{ unUtilisateur.adresse }}</td>
                    <td>{{ unUtilisateur.cp }}</td>
                    <td>{{ unUtilisateur.ville }}</td>
                    <td>{{ unUtilisateur.dateembauche|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}:
        </tbody>
    </table>
    {% endif %}}
{% endblock %}

